body {
    background-color: #0a0a0a;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    min-width: 980px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

/* .logo {
    
} */

.logo img {
    height: 160px;
}

.header__nav-menu-top ul {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(25, 41, 85); */
}

.header__nav-menu-top p {
    display: none;
}

.header__nav-menu-top ul li {
    
    list-style: none;
    
    /* background-color: #fff; */
}

.nav_link {
    padding: 10px 15px;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 8px;
    color: rgb(192, 192, 192);
    font-family: 'PT Sans', sans-serif;
    /* text-transform: uppercase; */
    /* background-color: rgb(21, 187, 63); */
}

.nav_link_active {
    background-color: #631616;
    color: #ffffff;
}

.nav_link:hover {
    background-color: #e01010;
    color: #ffffff;
    box-shadow: 0 0 16px 8px rgb(224, 16, 16, 0.7);
}

.app {
    /* height: 540px; */
    font-family: "PT Sans", sans-serif;
}



/* -------------- Home Page Component -------------- */
.home-page {
    max-width: 1200px;
    min-width: 980px;
    height: 540px;
    background-image: url('./image/the_witcher_1200_darken.jpg');
    box-shadow: inset 0px 12px 16px 5px rgb(12, 12, 12);
    transition: opacity 1s;
    opacity: 0;
}

.home-page__frame {
    width: 30%;
    padding-left: 30px;
    padding-top: 30px;
    color: #ffffff;
}

.home-page__frame div {
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
    left: -30px;
    background-color: #0c0c0c;
    box-shadow: 4px 6px 10px 3px rgb(12, 12, 12, 0.8);
}

.home-page__frame div h1 {
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 1.1em;
}

.home-page p {
    font-size: 1.2em;
}

.home-page h1 {
    font-size: 1.5em;
}

.logo-2 {
    padding-left: 30px;
    padding-top: 30px;
}

.logo-2 img {
    width: 46%;
}
/* -------------- // Home Page Component -------------- */





/* -------------- Trailer-page -------------- */
.trailer-page {
    /* max-width: 100%; */
    min-width: 980px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(105, 25, 25); */
    transition: opacity 1s;
    opacity: 0;
}

.trailer-page__title {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 1em;
}

.trailer-page_movie iframe {
    border-radius: 10px;
    
}




/* -------------- // Trailer-page -------------- */






/* -------------- Season 1 -------------- */
.season1-page {
    width: 576px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    transition: opacity 1s;
    opacity: 0;
}

.season1-page div {
    width: 576px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.season1-page__title {
    margin-bottom: 30px;
    display: block;
    width: 576px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.season1-page__logo-netflix img {
    width: 300px;
}

.season1-link {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    border: 4px solid white;
}
.season1-link:hover {
    border: 4px solid red;
}

.season1-link p {  
    width: 0;
    height: 0;
    position: relative;
    top: 14px;
    left: 40px;
    
    border-top: 20px solid transparent;
	border-left: 30px solid white;
	border-bottom: 20px solid transparent;
}
.season1-link:hover p {
    border-left: 30px solid red;
}
/* -------------- // Season 1 -------------- */






/* -------------- News Frame -------------- */

.news-page {
    transition: opacity 1s;
    opacity: 0;
    padding: 0 20px;
}

.news-page__info {
    display: flex;
}

.news-page__title {
    color: #c0c0c0;
    text-transform: uppercase;
    /* text-align: center; */
}

.news-page__info-picture img{
    float: left;
    margin-right: 30px;
    border-radius: 12px;
}


.news-page__info-text {
    padding: 0 40px 0 0;
    font-size: 1.3em;
    color:#c0c0c0;
}

.news-page__info-text p {
    margin: 0;
}

.news-page__info-text span {
    float: right;
    padding-top: 20px;
}

/* -------------- // News Frame -------------- */


/* --------------  Wallpappers Frame -------------- */
.wallpapers-page {
    max-width: 100%;
    min-width: 980px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity 1s;
    padding: 0 40px;
}

.wallpapers-page img {
    width: 100%;
    max-width: 300px;
    border-radius: 6px;
    object-fit: cover;
    padding: 4px;
    box-sizing: border-box;
    cursor: pointer;
}
/* --------------  // Wallpappers Frame -------------- */


/* -------------- About-page -------------- */
.about-page {
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
    opacity: 0;
    padding: 0 40px;
}

.about-page__info {
    color:  #c0c0c0;
    font-size: 1.4em;
}

.social_icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social_icon a {
    color: #631616;
    font-size: 3em;
    padding: 0 20px;
    text-decoration: none;
}


/* -------------- // About-page -------------- */






.screenshot-frame {
    display: flex;
    align-items: center;
    padding: 0 4%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: #000000cc;
    z-index: 1;
}

.big-screenshot {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.arrow-back, .arrow-forward {
    color: blanchedalmond;
}

/* -------------- Галерея -------------- */
.gallery {
    width: 100%;
    margin-top: 15px;
    margin: 15px 0;
    height: 130px;
    display: flex;
    justify-content: space-between;
    /* background-color: #fff; */
}

.btn {
    /* width: 100px; */
    height: inherit;
    display: flex;
    justify-content: center;
    /* background-color: rgb(196, 90, 90); */
}

/* .btn-back {

} */

.btn img {
    height: 100%;
}

.images-frame {
    width: 90%;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* background-color: rgb(27, 212, 27); */
}

.images-frame div {
    display: flex;
    align-items: center;
    position: relative;
    left: 0px;
    transition: linear .2s;
}

.images-frame-pic {
    width: 160px;
    height: 115px;
    margin: 0 6px;
    border-radius: 6px;
    background-color: rgb(62, 88, 173);
    position: relative;
    bottom: 0;
    transition: ease-out .2s;
}

.images-frame-pic:hover {
   position: relative;
   bottom: 8px;
   /* box-shadow: 0 6px 12px 0 #ffffff ; */
}


/* -------------- // Галерея -------------- */


footer {
    width: 100%;
}

footer nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    list-style: none;
}

footer li a img{
    width: 150px;
    /* height: 50px; */
}














/* Мобильная версия */

@media screen and (max-width: 576px) {

    
    .container {
        width: 100%;
        min-width: 576px;
    }

    .logo img {
        height: 120px;
    }

    header {
        justify-content: space-around;
    }

    .header__nav-menu-top ul {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        padding: 0;
        z-index: 1;
    }

    .header__nav-menu-top ul li {
        width: 576px;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        background-color: #000000;
    }

    .btn {
        width: 30%;
    }

    .images-frame-pic {
        width: 104px;
        height: 80px;
    }


    .home-page, .trailer-page {
        min-width: 576px;
        background-position: center;
    }

    .home-page__frame {
        width: 60%;
    }


    .trailer-page_movie {
        width: 576px;
        display: flex;
        justify-content: center;
    }

     iframe {
        width: 540px;
    }

    .header__nav-menu-top p {
        display: flex;
        padding: 20px 60px;
        background-color: #e01010;
        font-size: 2.2em;
        border-radius: 10px;
        color: #fff;
        font-family: 'PT Sans', sans-serif;
        letter-spacing: .2em;
    }

    .wallpapers-page {
        width: 100%;
        min-width: 320px;
        padding: 10px;
        box-sizing: border-box;
        justify-content: center;
    }
}




.testColor {
    background: rgb(139, 106, 106);
}




/* Мобильная верстка меньше 576px */
@media screen and (max-width: 540px) {
    .container {
        min-width: 100%;
    }

    .logo img {
        height: 98px;
    }

    .header {
        padding: 0 12px;
        box-sizing: border-box;
    }
    .header__nav-menu-top p {
        padding: 18px 50px;
        font-size: 1em;
        border-radius: 4px;
    }


    .header__nav-menu-top ul li {
        width: 100%;
    }

    /* Home page */
    .home-page, .trailer-page {
        min-width: 100%;
    }
    .home-page p {
        font-size: 1em;
        padding: 0 12px;
    }
    .home-page__frame {
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }
    .home-page__frame div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: inherit;
        border-radius: 0;
        background-color: #0c0c0c;
        box-shadow: 4px 6px 10px 3px rgb(12, 12, 12, 0.8);
    }
    .home-page__frame div h1 {
        margin-left: 0;
        text-transform: uppercase;
        font-size: 1em;
    }
    /* // Home page */


    /* Trailer */
    .trailer-page {
        height: 100%;
        padding: 0 12px;
        box-sizing: border-box;
    }
    .trailer-page__title {
        font-size: .7em;
    }
    .trailer-page_movie {
        width: 100%;
    }

    .trailer-page_movie iframe {
        border-radius: 4px;
        height: 200px;
    }
    iframe {
        width: 100%;
    }
    /* // Trailer */




    /* 1-st season */
    .season1-page, .season1-page div {
        width: 100%;
    }

    .season1-page__logo-netflix img {
        width: 100%;
        padding: 0 25px;
        box-sizing: border-box;
    }
    /* // 1-st season */



    /* News page */
    .news-page {
        width: 100%;
        padding: 0 12px;
        box-sizing: border-box;
    }
    
    .news-page__title {
        font-size: .6em;
        text-align: center;
    }

    .news-page__info-picture {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .news-page__info-picture img {
        float: inherit;
        margin-right: 0;
        margin-bottom: 12px;
        border-radius: 6px;
        width: 100%;
    }

    .news-page__info-text {
        padding: 0 4px;
        font-size: 1.1em;
        box-sizing: border-box;
        color: #c0c0c0;
    }



    /* // News page */


    .gallery {
        height: 60px;
    }
    .btn {
        width: 16%;
        display: flex;
        align-items: center;
    }
    .btn img {
        height: 70%;
    }

    .images-frame-pic {
        width: 80px;
        height: 54px;
        border-radius: 2px;
        object-fit: cover;
    }


    footer {
        margin-bottom: 20px;
    }

    footer nav {
        display: flex;
        justify-content: space-around;
        /* align-items: baseline; */
    }

    footer li a img {
        width: 70px;
        /* height: 50px; */
    }

    footer nav li {
        list-style: none;
    }
}